html {
    width: auto;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #1f2937;
    padding: 0 150px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    padding: 0 10px;
}

.link, .subtext {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    margin: 0;
}

li {
    list-style: none;
}

.header {
    font-size: 48px;
    font-style: extra bold;
    color: #f9faf8;
    margin: 0;
}

.navbar {
    display: flex;
}

.links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    gap: 10px;
    padding: 0 10px;
}

.header-container {
    display: flex;
    flex: 1;
    align-items: center;
    margin: 30px 0;
}

.head-img {
    background: gray;
    color: white;
    padding: 60px 150px;
    margin: 20px 20px;
}

